<h2>{{ __("Hull - Blog Management") }}</h2>

<ul>
    <li><a href="{{ cabin_url() }}blog/category">{{ __("Categories") }}</a></li>
    <li><a href="{{ cabin_url() }}blog/post">{{ __("Blog Posts") }}</a></li>
    <li><a href="{{ cabin_url() }}blog/series">{{ __("Series") }}</a></li>
    <li><a href="{{ cabin_url() }}blog/tag">{{ __("Tags") }}</a></li>
    <li><a href="{{ cabin_url() }}blog/comments">{{ __("Comments") }}</a></li>
</ul>