<div class="width50 center">
    <h1>{{ __("Forgot Your Password?") }}</h1>
    {% if form_message %}<p>{{ form_message }}</p>{% endif %}

    <form method="post" class="board-form pure-form pure-form-stacked">{{ form_token() }}
        <label for="username">{{ __("Please enter your username:") }}</label>
        <input id="username" type="text" name="forgot_passphrase_for" class="pure-input-1" />

        <div>
            <button type="submit" class="pure-button pure-button-primary">
                <i class="fa fa-question-circle"></i>
                {{ __("Recover My account") }}
            </button>
        </div>
    </form>
    <p>
        <a href="{{ cabin_url() }}">&laquo; {{ __("Return to the Login Form") }}</a>
    </p>
</div>