
<div class="table-row">
    <label for="prevlinklabel" class="table-cell">
        {{ __("Previous Link Label") }}:
    </label>
    <div class="table-cell">
        <input
            id="prevlinklabel"
            type="text"
            name="config[leftlink]"
            placeholder="{{ __("Prev")|e('html_attr') }}"
            value="{% if config.leftlink %}{{ config.leftlink|e('html_attr') }}{% endif %}"
        />
    </div>
</div>

<div class="table-row">
    <label for="nextlinklabel" class="table-cell">
        {{ __("Next Link Label") }}:
    </label>
    <div class="table-cell">
        <input
            id="nextlinklabel"
            type="text"
            name="config[rightlink]"
            placeholder="{{ __("Next")|e('html_attr') }}"
            value="{% if config.rightlink %}{{ config.rightlink|e('html_attr') }}{% endif %}"
        />
    </div>
</div>
