<!DOCTYPE html>
<html>
    <head>{% block head %}
        {% include cargo("base_head") %}
            {% include cargo("base_meta") %}
        {% block page_css %}{% endblock %}
    {% endblock %}</head>
    <body {#
        #}data-cabin="Bridge" {#
        #}data-activesubmenu="{% if active_submenu %}{#
            #}{{ active_submenu|json_encode|e('html_attr') }}{#
        #}{% endif %}" {#
        #}data-activelink="{% if active_link %}{#
            #}{{ active_link|json_encode|e('html_attr') }}{#
        #}{% endif %}"{#
    #}>{% block body %}
        <div id="site-wrapper">
            <header>{% block header %}
                {% include cargo("header") %}
            {% endblock %}</header>
            {% if showmenu %}{#
                #}<div id="main-wrapper">
                    <div id="leftmenu">{% block leftmenu %}
                        
                    {% endblock %}</div>
                    <div id="rightside">
            {% endif %}
                        <div id="content">{#
                        #}{% if SETTINGS['sandwich_content'] %}<div class="content-sandwich">{% endif %}{#
                            #}{% block content %}<div id="bridge_content">
                            <div id="bridge_table">
                                {% if announcement %}<div id="announcement">{{ announcement }}</div>{% endif %}
                                <div id="bridge_left">
                                    {% include cargo("bridge_menu") %}
                                </div>
                                <div id="bridge_main">{% block main %}{% endblock %}</div>
                            </div>
                        </div>{% endblock %}</div>{#
                    #}{% if SETTINGS['sandwich_content'] %}</div>{% endif %}{#
                #}
            {% if showmenu %}
                    </div>
                </div>
            {% endif %}
        </div>
        <footer id="bridge_footer">{% block footer %}
            {% include cargo("footer") %}
        {% endblock %}</footer>
    {% endblock %}
    {% block js %}
        <script src="{{ "/js/jquery.min.js"|cachebust }}"></script>
        <script src="{{ "/js/jquery-ui.min.js"|cachebust }}"></script>
        <script src="{{ "/js/jquery.browser.min.js"|cachebust }}"></script>
        <script src="{{ "/static/Bridge/bridge.js"|cachebust }}"></script>
    {% endblock %}
    {% block page_js %}{% endblock %}
    </body>
</html>