{% extends base_template() %}

{% block main %}
    <form method="post">{{ form_token() }}
        <label for="label">{{ __("Action Name") }}</label>:
        <input id="label" type="text" name="label" value="{{ action.label|e('html_attr') }}" />
        <button type="submit" class="pure-button pure-button-secondary">
            {{ __("Change Action's Label") }}
        </button>
        <a class="pure-button pure-button-tertiary" href="{{ cabin_url() }}crew/permissions/{{ cabin|e('html_attr') }}">{{ __("Cancel") }}</a>
    </form>
{% endblock %}