{% extends "base.twig" %}

{% block content %}
<div class="rwidth66 center">
    <form
        id="dbForm"
        action="/"
        method="post"
    >{{ form_token() }}
            
    <h1>{{ __("Cabin Configuration") }}</h1>
    
    <p>
       Cabins are (more-or-less standalone) applications built into your
       Airship. By default, we ship with two:
    </p>
    <ol>
        <li>Bridge: The admin control panel</li>
        <li>Hull: The public-facing website</li>
    </ol>
    <p>
        For each cabin, you can use a <code>*</code> in place of the domain name
        if you wish to catch any domain name.
    </p>
    
    <fieldset class="cabin bridge">
        <legend>Bridge Settings</legend>
        <div class="pure-form pure-form-stacked">
            
            <label for="bridge_path">
                Hostname and Path:
            </label>
            <input id="bridge_path" class="pure-input-1" type="text" name="cabin[Bridge][path]" value="{{ SERVER.HTTP_HOST|e('html_attr') }}/bridge" />

            <label for="bridge_url">
                Canon URL (for hyperlinks from other Cabins):
            </label>
            <input id="bridge_url" class="pure-input-1" type="text" name="cabin[Bridge][canon_url]" value="http://{{ SERVER.HTTP_HOST|e('html_attr') }}/bridge" />
            
            <div>
                <input id="bridge_https" class="inblock" type="checkbox" name="cabin[Bridge][https]" value="1" checked="checked" />
                <label for="bridge_https" class="inblock">
                    Only allow HTTPS connections? (Recommended)
                </label>
            </div>
            
            <label for="bridge_lang">
                Language:
            </label>
            <select id="bridge_lang" class="pure-input-1" id="bridge_lang" name="cabin[Bridge][lang]">
                <option value="en-us">English (U.S.)</option>
            </select>

            <hr />

        </div>

        <fieldset class="cabin bridge">
            <legend>Extra Configuration</legend>
            {% set form_key_config = "config_extra[Bridge]" %}
            {% set form_key_twig = "twig_vars[Bridge]" %}
            {% set config_extra = {
                "board": {
                    "enabled": true,
                    "captcha": true
                },
                "editor": {
                    "default-format": "Markdown"
                },
                "file": {
                    "cache": 3600
                },
                "password-reset": {
                    "enabled": true,
                    "logout": true,
                    "ttl": 30
                },
                "recaptcha": {
                    "secret-key": "",
                    "site-key": ""
                },
                "two-factor": {
                    "issuer": "",
                    "label": "",
                    "length": 6,
                    "period": 30
                },
                "user-directory": {
                    "per-page": 20
                }
            } %}
            {% set motifs =
                {
                    "name": {
                        "config": {
                            "display_name": "Airship Classic (You can change this later)",
                            "name": "airship-classic",
                            "supplier": "paragonie",
                        }
                    }
                }
            %}
            {% set twig_vars = {
                "title": "Airship Blog",
                "tagline": "Even the sky shall not limit you."
            } %}
            {% include "cabin_links/Bridge/cabin_config.twig" %}
        </fieldset>
    </fieldset>
    
    <hr />
    
    <fieldset class="cabin hull">
        <legend>Hull Settings</legend>
        <div class="pure-form pure-form-stacked">
            
            <label for="hull_path">
                Hostname and Path:
            </label>
            <input id="hull_path" class="pure-input-1" type="text" name="cabin[Hull][path]" value="*" />

            <label for="hull_url">
                Canon URL (for hyperlinks from other Cabins):
            </label>
            <input
                id="hull_url"
                class="pure-input-1"
                type="text"
                name="cabin[Hull][canon_url]"
                value="http://{{ SERVER.HTTP_HOST|e('html_attr') }}"
            />

            <div>
                <input id="hull_https" class="inblock" type="checkbox" name="cabin[Hull][https]" value="1" checked="checked" />
                <label for="hull_https" class="inblock">
                    Only allow HTTPS connections? (Recommended)
                </label>
            </div>
            
            <label for="hull_lang">
                Language:
            </label>
            <select id="hull_lang" class="pure-input-1" id="bridge_lang" name="cabin[Hull][lang]">
                <option value="en-us">English (U.S.)</option>
            </select>


            <hr />

        </div>

        <fieldset class="cabin hull">
            <legend>Extra Configuration</legend>
            {% set form_key_config = "config_extra[Hull]" %}
            {% set form_key_twig = "twig_vars[Hull]" %}
            {% set config_extra = {
                "blog": {
                    "cachelists": false,
                    "comments": {
                        "depth_max": 5,
                        "enabled": true,
                        "guests": true,
                        "recaptcha": true
                    },
                    "per_page": 20
                },
                "cache-secret": "",
                "file": {
                    "cache": 3600
                },
                "homepage": {
                    "blog-posts": 3
                },
                "recaptcha": {
                    "secret-key": "",
                    "site-key": ""
                }
            } %}
            {% set twig_vars = {
                "title": "Airship 0.3",
                "tagline": "Even the sky shall not limit you!",
                "blog": {
                    "title": "My Blog",
                    "tagline": "Something classy goes here"
                },
                "navbar": [
                    {
                        "url": "~\/",
                        "label": "Home"
                    },
                    {
                        "url": "~\/about",
                        "label": "About"
                    },
                    {
                        "url": "~\/contact",
                        "label": "Contact"
                    },
                    {
                        "url": "~\/blog",
                        "label": "Blog"
                    }
                ]
            } %}
            {% include "cabin_links/Hull/cabin_config.twig" %}
        </fieldset>
    </fieldset>
    
    <hr />
    
    <div class="continue-btn-wrapper">
        <button class='pure-button pure-button-primary'>Save and Continue &raquo;</button>
    </div>
    
    </form>
</div>
{% endblock %}

{# Style definitions are stored in other Twig templates #}
{% block js %}
    {% include "js/cabins.js.twig" %}
{% endblock %}
{% block css %}
    {% include "css/main.css.twig" %}
    {% include "css/cabins.css.twig" %}
{% endblock %}