{% extends base_template() %}
{% set title = __("Please Log In") %}

{% block content %}
    <div class="width50 center">
        {%  if post_response %}
            <div class="post {{ post_response.status|e('html_attr') }}">{{ post_response.message }}</div>
        {% endif %}
        <div class="login-form-wrapper">
            <fieldset>
                <form
                    id="login"
                    class="login-form pure-form pure-form-stacked"
                    action="{{ cabin_url('Bridge') }}login"
                    method="post"
                >{{ form_token(get_path_url(cabin_url()) ~ "login") }}
                    {% include cargo("form_before_login") ignore missing %}
                    <h3>{{ __("Please Log In to CMS Airship") }}</h3>
                    <label for="username">{{ __("Username") }}:</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="{{ __("Enter your Username")|e('html_attr') }}"
                        class="pure-input-1"
                    />

                    <label for="password">{{ __("Passphrase") }}:</label>
                    <input
                        type="password"
                        id="password"
                        name="passphrase"
                        placeholder="{{ __("Enter your Passphrase")|e('html_attr') }}"
                        class="pure-input-1"
                    />

                    <label for="two-factor">{{ __("Two-Factor Authentication Code") }}:</label>
                    <input
                        type="text"
                        id="two-factor"
                        name="two_factor"
                        pattern="^[0-9]{6,8}$"
                        placeholder="{{ __("Required if Two-Factor Authentication is enabled on your account")|e('html_attr') }}"
                        class="pure-input-1"
                    />

                    {% include cargo("form_login_extra_fields") ignore missing %}
                    
                    <div id="remember-me-checkbox-container">
                        <input class="inblock large_checkbox" type="checkbox" name="remember" id="rememberMe" value="1" />
                        <label for="rememberMe" class="inblock remember-me-label">{{ __("Remember me on this computer") }}</label>
                    </div>
                    
                    {% include cargo("form_after_login") ignore missing %}
                    <div class="text-right">
                        <button type="submit" class="pure-button pure-button-primary">
                            <i class="fa fa-key"></i>
                            {{ __("Log In") }}
                        </button>
                    </div>
                </form>
            </fieldset>

            {% if cabin_custom_config()['board']['enabled'] %}
                <a href="{{ cabin_url('Bridge')|e('html_attr') }}board" class="pure-button pure-button-secondary">
                    <i class="fa fa-user-plus"></i>
                    {{ __("Register for a New Account") }}
                </a>
            {% endif %}

            {% if cabin_custom_config()['password-reset']['enabled'] %}
                <div>
                    <a href="{{ cabin_url('Bridge')|e('html_attr') }}forgot-password" class="pure-button pure-button-tertiary">
                        <i class="fa fa-undo"></i>
                        {{ __("I Forgot My Passphrase") }}
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}