{% if not form_key_config %}{% set form_key_config = "config_extra" %}{% endif %}
{% if not form_key_twig %}{% set form_key_twig = "twig_vars" %}{% endif %}
<div class="table table-pad-1 full-width">

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_active_motif">
                {{ __("Active Motif") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <select
                class="full-width"
                id="twigvars_active_motif"
                name="{{ form_key_twig }}[active-motif]"
            >{% for name, motif in motifs %}
                    <option value="{{ name|e('html_attr') }}"{#
                    #}{% if name == twig_vars['active-motif'] %} selected="selected"{% endif %}>
                        {% if motif.config["display_name"] %}
                            {{ motif.config["display_name"] }}
                        {% else %}
                            {{ motif.config.supplier ~ "/" ~ motif.config.name }}
                        {% endif %}</option>
                {% endfor %}</select>
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_title">
                {{ __("Page Title") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_title"
                type="text"
                name="{{ form_key_twig }}[title]"
                value="{{ twig_vars['title']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_tagline">
                {{ __("Tagline") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_tagline"
                type="text"
                name="{{ form_key_twig }}[tagline]"
                value="{{ twig_vars['tagline']|e('html_attr') }}"
            />
        </div>
    </div>


    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label>
                {{ __("Template Options:")|e('html') }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                    {% if twig_vars['sandwich_content'] %}checked="checked"{% endif %}
                    id="hull_sandwich"
                    type="checkbox"
                    class="large_checkbox"
                    name="{{ form_key_twig }}[sandwich_content]"
            /> <label for="hull_sandwich">{{ __("Restrict layout to 1200px wide?") }}</label>
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top bottom-extra-pad">
            <label for="twigvars_tagline">
                {{ __("Navigation Bar") }}:
            </label>
        </div>
        <div class="table-cell full-width bottom-extra-pad">
            <div
                data-name="{{ form_key_twig }}[navbar]"
                data-idprefix="hull_navbar"
                class="dynamic_navigation"
                id="twig_vars_navbar"
            >{{ (twig_vars['navbar'] ? twig_vars['navbar']|json_encode : '[]')|raw }}</div>
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_blog_title">
                {{ __("Blog Header") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_blog_title"
                type="text"
                name="{{ form_key_twig }}[blog][title]"
                value="{{ twig_vars['blog']['title']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_blog_tagline">
                {{ __("Blog Sub-Header") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_blog_tagline"
                type="text"
                name="{{ form_key_twig }}[blog][tagline]"
                value="{{ twig_vars['blog']['tagline']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top bottom-extra-pad">
            <label for="blog_per_page">
                {{ __("Posts Per Page") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                id="blog_per_page"
                type="text"
                name="{{ form_key_config }}[blog][per_page]"
                value="{{ config_extra['blog']['per_page']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top bottom-extra-pad">
            <label for="blog_per_page">
                {{ __("Maximum Comment Depth") }}:
            </label>
        </div>
        <div class="table-cell full-width bottom-extra-pad">
            <input
                id="blog_per_page"
                type="text"
                name="{{ form_key_config }}[blog][comments][depth_max]"
                value="{{ config_extra['blog']['comments']['depth_max']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="homepage_blog_posts">
                {{ __("Posts on Home Page") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                id="homepage_blog_posts"
                type="text"
                name="{{ form_key_config }}[homepage][blog-posts]"
                value="{{ config_extra['homepage']['blog-posts']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            {{ __("Comments:") }}
        </div>
        <div class="table-cell full-width">
            <input
                {% if config_extra['blog']['comments']['enabled'] %}checked="checked"{% endif %}
                id="blog_comments_enabled"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[blog][comments][enabled]"
            />
            <label for="blog_comments_enabled">{{ __("Allow Comments?") }}</label>

            <br />

            <input
                {% if config_extra['blog']['comments']['guests'] %}checked="checked"{% endif %}
                id="blog_comments_guests"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[blog][comments][guests]"
            />
            <label for="blog_comments_guests">{{ __("Allow Guests to Comment?") }}</label>

            <br />

            <input
                {% if config_extra['blog']['comments']['recaptcha'] %}checked="checked"{% endif %}
                id="blog_recaptcha_enabled"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[blog][comments][recaptcha]"
            />
            <label for="blog_recaptcha_enabled">{{ __("Require ReCAPTCHA?") }}</label>

            <br />

            <fieldset>
                <legend>{{ __("ReCAPTCHA Settings") }}</legend>
                <label for="recaptcha_secret_key">{{ __("ReCAPTCHA Secret Key") }}:</label><br />
                <input
                    class="full-width"
                    id="recaptcha_secret_key"
                    type="text"
                    name="{{ form_key_config }}[recaptcha][secret-key]"
                    value="{{ config_extra['recaptcha']['secret-key']|e('html_attr') }}"
                />

                <hr />

                <label for="recaptcha_site_key">{{ __("ReCAPTCHA Site Key") }}:</label><br />
                <input
                    class="full-width"
                    id="recaptcha_site_key"
                    type="text"
                    name="{{ form_key_config }}[recaptcha][site-key]"
                    value="{{ config_extra['recaptcha']['site-key']|e('html_attr') }}"
                /><br />
            </fieldset>
        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="file_cache">
                {{ __("File Cache") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                id="file_cache"
                type="text"
                name="{{ form_key_config }}[file][cache]"
                value="{{ config_extra['file']['cache']|e('html_attr') }}"
            /> (seconds)
        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="clear_cache">
                {{ __("Clear Cache Secret") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="file_cache"
                type="text"
                name="{{ form_key_config }}[cache-secret]"
                value="{{ config_extra['cache-secret']|e('html_attr') }}"
            />
        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            {{ __("Blog Listings") }}:
        </div>
        <div class="table-cell full-width">
            <input
                {% if config_extra['blog']['cachelists'] %}checked="checked"{% endif %}
                id="list_cache"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[blog][cachelists]"
            />
            <label for="list_cache">{{ __("Cache the blog list pages as static HTML?") }}</label>
        </div>
    </div>
</div>
