<div class="sidebar-module" id="blog_archive_menu">
    <h4>{{ __("Archives") }}</h4>
    <div class="blog-sidebar-dates-wrapper"><ol id="blog_menu_dates">{% for year, months in blogmenu.years %}
            <li class="blog_year">
                <a href="{{ cabin_url() }}blog/{{ year|e('url') }}"><i class="fa fa-calendar"></i> {{ year }}</a>
                <ul>{% for month, monthdisplay in months %}
                        <li class="blog_month">{#
                            #}<a href="{{ cabin_url() }}blog/{{ year|e('url') }}/{{ month|e('url') }}">{#
                                #}<i class="fa fa-clock-o"></i>
                                {{ monthdisplay }}
                                {{ year }}{#
                            #}</a>{#
                        #}</li>
                    {% endfor %}</ul>
            </li>
        {% endfor %}</ol></div>
</div>
<div class="sidebar-module" id="blog_category_menu">
    <h4>{{ __("Categories") }}</h4>
    <div class="blog-sidebar-categories-wrapper">
        <ol class="blog_categories">
            {% for branch in blogmenu.categories %} {{ bcat.blogCategories(branch) }} {% endfor %}
            {% if blogmenu.uncategorized %}
            <li>{#
                #}<a href="{{ cabin_url() }}blog/category/">{#
                    #}<i class="fa fa-folder-o"></i>
                    {{ __("Uncategorized") }}{#
                #}</a>{#
            #}</li>
            {% endif %}
        </ol>
    </div>
</div>
{% if blogmenu.tags %}
<div class="sidebar-module" id="blog_tagcloud">
    <h4>{{ __("Tags") }}</h4>
    <div class="blog-sidebar-tagcloud-wrapper"><ol class="tagcloud">
        {% for tag in blogmenu.tags %}{% if tag.post_ratio > 0.1 %}
            <li>
            <a href="{{ cabin_url() }}blog/tag/{{ tag.slug|e('html_attr') }}"
               style="font-size: {{ ((tag.post_ratio * 50) + 50) }}%;
                    {% if tag.post_ratio > 1 %} font-weight: bold;{% endif %}
               ">
                {{ tag.name }}
            </a>
            </li>{% endif %}
        {% endfor %}
    </ol></div>
</div>
{% endif %}