{% import "macros/blog_comments.twig" as bcom %}{#
#}{% if config.blog.comments.enabled %}
    {% if cached %}
        <h2 id="comments">{{ __("Comments") }}</h2>
            <div id="blog_comments_wrapper" data-cached="1" data-cabinurl="{{ cabin_url() }}" data-uniqueid="{{ blogpost.shorturl|e('html_attr') }}">{#
                #}<em>{{ __("This blog post is cached. Comments are rendered via JavaScript.") }}</em>{#
            #}</div>{#
    #}{% elseif comments %}
        <h2 id="comments">{{ __("Comments") }}</h2>
        <div id="blog_comments_wrapper">{#
            #}<ol class="blog_comments">{% for comment in comments %}{#
                #}{{ bcom.blogComments(comment, cargo("blog_comment_display")) }}{#
            #}{% endfor %}</ol>{#
        #}</div>{#
    #}{% endif %}{#
#}{% endif %}