{% if blogpost.format == 'RST' %}{#
    #}{{ blogpost.snippet|CleanRST }}{#
    #}<span id="after-fold"></span>{#
    #}{{ blogpost.after_fold|CleanRST }}{#
#}{% elseif blogpost.format == 'Markdown' %}{#
    #}{{ blogpost.snippet|default("")|CleanMarkdown }}{#
    #}<span id="after-fold"></span>{#
    #}{{ blogpost.after_fold|default("")|CleanMarkdown }}{#
#}{% else %}{#
    #}{{ blogpost.snippet|purify|raw }}{#
    #}<span id="after-fold"></span>{#
    #}{{ blogpost.after_fold|purify|raw }}{#
#}{% endif %}