<fieldset>
    <legend><h3 class="nomargin">{{ __("Bridge") }}</h3></legend>

    <div class="multiline_checkbox_container">
        <div class="multiline_checkbox">
            <input
                id="motif-config-bridge-gradient"
                type="checkbox"
                name="motif_config[bridge][gradient]"
                value="1"
                {% if motif_config['bridge']['gradient'] %}
                    checked="checked"
                {% endif %}
            />
            <label for="motif-config-bridge-gradient">
                {{ __("Metallic look? (Uncheck for a flat background color.)") }}
            </label>
        </div>
    </div>
</fieldset>

<br />

<fieldset>
    <legend><h3 class="nomargin">{{ __("Hull") }}</h3></legend>

    <div class="multiline_checkbox_container">
        <div class="multiline_checkbox">
            <input
                id="motif-config-hull-blog-header-enabled"
                type="checkbox"
                name="motif_config[hull][blog-header][enabled]"
                value="1"
                {% if motif_config['hull']['blog-header']['enabled'] %}
                    checked="checked"
                {% endif %}
            />
            <label for="motif-config-hull-blog-header-enabled">
                {{ __("Show a background image in the blog header?") }}
            </label>
        </div>
    </div>

    <div class="pure-form">
        <label for="motif-config-hull-blog-header-background-image">{{ __("Background Image URL") }}:</label>
        <input
            class="full-width"
            id="motif-config-hull-blog-header-background-image"
            name="motif_config[hull][blog-header][background-image]"
            type="text"
            value="{{ motif_config['hull']['blog-header']['background-image']|e('html_attr') }}"
        />

        <label for="motif-config-hull-blog-header-background-image">{{ __("Font color for blog header") }}:</label>
        <input
            class="full-width"
            id="motif-config-hull-blog-header-color"
            name="motif_config[hull][blog-header][color]"
            pattenr="^[0-9]{3,6}$"
            placeholder="FF0099"
            type="text"
            value="{{ motif_config['hull']['blog-header']['color']|e('html_attr') }}"
        />
    </div>
</fieldset>