{% if not form_key_config %}{% set form_key_config = "config_extra" %}{% endif %}
{% if not form_key_twig %}{% set form_key_twig = "twig_vars" %}{% endif %}
<div class="table table-pad-1 full-width">

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_active_motif">
                {{ __("Active Motif")|e('html') }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <select
                class="full-width"
                id="twigvars_active_motif"
                type="text"
                name="{{ form_key_twig }}[active-motif]"
                value="{{ twig_vars['active-motif']|e('html_attr') }}"
            >{% for name, motif in motifs %}
                <option value="{{ name|e('html_attr') }}">
                    {% if motif.config["display_name"] %}
                        {{ motif.config["display_name"]|e('html') }}
                    {% else %}
                        {{ motif.config.supplier|e('html') ~ "/" ~ motif.config.name|e('html') }}
                    {% endif %}</option>
            {% endfor %}</select>
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_title">
                {{ __("Page Title")|e('html') }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_title"
                type="text"
                name="{{ form_key_twig }}[title]"
                value="{{ twig_vars['title']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="twigvars_tagline">
                {{ __("Tagline")|e('html') }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                class="full-width"
                id="twigvars_tagline"
                type="text"
                name="{{ form_key_twig }}[tagline]"
                value="{{ twig_vars['tagline']|e('html_attr') }}"
            />
        </div>
    </div>

    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            {{ __("Registration:")|e('html') }}
        </div>
        <div class="table-cell full-width">
            <input
                {% if config_extra['board']['enabled'] %}checked="checked"{% endif %}
                id="board_enabled"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[board][enabled]"
            />
            <label for="board_enabled">{{ __("Enable registration?") }}</label>

            <br />

            <input
                {% if config_extra['board']['captcha'] %}checked="checked"{% endif %}
                id="board_captcha"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[board][captcha]"
            />
            <label for="board_captcha">{{ __("Require a CAPTCHA to register?") }}</label>

            <br />

            <fieldset>
                <legend>{{ __("ReCAPTCHA Settings") }}</legend>

                <label for="recaptcha_site_key">{{ __("ReCAPTCHA Site Key") }}:</label><br />
                <input
                    class="full-width"
                    id="recaptcha_site_key"
                    type="text"
                    name="{{ form_key_config }}[recaptcha][site-key]"
                    value="{{ config_extra['recaptcha']['site-key']|e('html_attr') }}"
                />

                <hr />

                <label for="recaptcha_secret_key">{{ __("ReCAPTCHA Secret Key") }}:</label><br />
                <input
                    class="full-width"
                    id="recaptcha_secret_key"
                    type="text"
                    name="{{ form_key_config }}[recaptcha][secret-key]"
                    value="{{ config_extra['recaptcha']['secret-key']|e('html_attr') }}"
                /><br />
            </fieldset>
        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            {{ __("Account Recovery:")|e('html') }}
        </div>
        <div class="table-cell full-width">
            <input
                {% if config_extra['password-reset']['enabled'] %}checked="checked"{% endif %}
                id="reset_enabled"
                type="checkbox"
                class="large_checkbox"
                name="{{ form_key_config }}[password-reset][enabled]"
            />
            <label for="reset_enabled">{{ __("Enable password reset emails?") }}</label>

            <br />

            <label for="reset_token_ttl">{{ __("Token Lifetime") }}:</label>
            <input
                id="reset_token_ttl"
                type="text"
                placeholder=""
                name="{{ form_key_config }}[password-reset][ttl]"
                value="{{ config_extra['password-reset']['ttl']|e('html_attr') }}"
            /> (seconds)
        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            {{ __("Two-Factor Authentication:")|e('html') }}
        </div>
        <div class="table-cell full-width">

            <!-- Begin 2FA Table -->
            <div class="table full-width">
                <div class="table-row">
                    <div class="table-min-width table-pad-right text-right table-cell align-top">
                        <label for="twofactor_label">{{ __("Label") }}:</label>
                    </div>
                    <div class="table-cell full-width">
                        <input
                            class="full-width"
                            id="twofactor_label"
                            type="text"
                            placeholder="{{ __("e.g. Bridge (Optional)")|e('html_attr') }}"
                            pattern="^[A-Za-z0-9 ]+$"
                            name="{{ form_key_config }}[two-factor][label]"
                            value="{{ config_extra['two-factor']['label']|e('html_attr') }}"
                        />
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-min-width table-pad-right text-right table-cell align-top">
                        <label for="twofactor_issuer">{{ __("Issuer") }}:</label>
                    </div>
                    <div class="table-cell full-width">
                        <input
                            class="full-width"
                            id="twofactor_issuer"
                            type="text"
                            placeholder="e.g. {{ twig_vars['title']|e('html_attr') }} (Optional)"
                            pattern="^[A-Za-z0-9 ]+$"
                            name="{{ form_key_config }}[two-factor][issuer]"
                            value="{{ config_extra['two-factor']['issuer']|e('html_attr') }}"
                        />
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-min-width table-pad-right text-right table-cell align-top">
                        <label for="twofactor_digits">{{ __("Digits") }}:</label>
                    </div>
                    <div class="table-cell full-width">
                        <select
                            id="twofactor_digits"
                            name="{{ form_key_config }}[two-factor][digits]"
                        >
                        {% for i in [6, 7, 8] %}
                            <option value="{{ i }}"{#
                                #}{% if config_extra['two-factor']['digits'] == i%} selected="selected"{% endif %}{#
                            #}>{{ i }}</option>
                        {% endfor %}
                        </select>
                        {{ __("Warning: Google Authenticator only supports 6 digits.") }}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-min-width table-pad-right text-right table-cell align-top">
                        <label for="twofactor_period">{{ __("Period (seconds)") }}:</label>
                    </div>
                    <div class="table-cell full-width">
                        <input
                            class="full-width"
                            id="twofactor_period"
                            type="text"
                            placeholder="Default: 30"
                            pattern="^[0-9]+$"
                            name="{{ form_key_config }}[two-factor][period]"
                            value="{{ config_extra['two-factor']['period']|e('html_attr') }}"
                        />
                    </div>
                </div>
            </div>
            <!-- End 2FA Table -->

        </div>
    </div>
    <div class="table-row">
        <div class="table-min-width table-pad-right text-right table-cell align-top">
            <label for="file_cache">
                {{ __("File Cache") }}:
            </label>
        </div>
        <div class="table-cell full-width">
            <input
                id="file_cache"
                type="text"
                name="{{ form_key_config }}[file][cache]"
                value="{{ config_extra['file']['cache']|e('html_attr') }}"
            /> (seconds)
        </div>
    </div>
</div>