        <title>
            {% block pageTitle %}
            {{ title|default(SETTINGS.title|default('An Airship Blog')) }} - Bridge
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ "/css/font-awesome.min.css"|cachebust }}" type="text/css" />
        <link rel="stylesheet" href="{{ "/css/pure-0.6.0.css"|cachebust }}" type="text/css" />
        <link rel="stylesheet" href="{{ "/fonts/fonts.css"|cachebust }}" type="text/css" />
        <link rel="stylesheet" href="{{ "/static/Bridge/base.css"|cachebust }}" type="text/css" />
        {#      #}{% set motifs = user_motif() %}{#
        #}{% for css in motifs.config.css %}
            <link rel="stylesheet" href="{{ ("/static/Bridge/motif/" ~ motifs.config.name ~ "/" ~ css)|cachebust }}" type="text/css" />
        {% endfor %}