<form method="post">{{ form_token() }}
    <div class="table full-width bottom-pad">
        <div class="table-row">
            <label class="table-cell table-min-width bottom-pad" for="old_url">
                {{ __("Old URL") }}:
            </label>
            <div class="table-cell">
                <input class="full-width" type="text" name="old_url" value="{{ redirect["oldpath"]|e('html_attr') }}" placeholder="bridge/redirects/{{ cabin|e('html_attr') }}/new" />
            </div>
        </div>

        <div class="table-row">
            <label class="table-cell table-min-width" for="new_url">
                {{ __("New URL") }}:
            </label>
            <div class="table-cell">
                <input class="full-width" type="text" name="new_url" value="{{ redirect["newpath"]|e('html_attr') }}" placeholder="https://example.com" />
            </div>
        </div>
    </div>
    <button class="pure-button pure-button-primary">
        <i class="fa fa-save"></i> {{ __("Update Redirect") }}
    </button>
    <a href="{{ cabin_url() }}redirects/{{ cabin|e('html_attr') }}" class="pure-button pure-button-tertiary">
        {{ __("Cancel") }}
    </a>
</form>