<div id="bridge_blog_category_add">
    <form method="post">{{ form_token() }}
        <div class="table full-width table-pad-1">
            <div class="table-row">
                <div class="table-cell table-min-width text-right table-pad-right">
                    <label for="name">{{ __("Category Name") }}:</label>
                </div>
                <div class="table-cell">
                    <input id="name" type="text" name="name" value="{{ category.name|e('html_attr') }}" />
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell text-right">
                    <label for="parent">{{ __("Parent") }}:</label>
                </div>
                <div class="table-cell">
                    <select id="parent" class="treeselect" name="parent">{% spaceless %}
                            <option value="0"> -{{ __("None")|e('html_attr') }}- </option>
                            {% for cat in categories %}
                                {{ bcatmac.selectBox(cat, category.categoryid, category.parent) }}
                            {% endfor %}
                        {% endspaceless %}
                    </select>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell table-min-width text-right table-pad-right">
                    {{ __("Preamble (Markdown)") }}:
                </div>
                <div class="table-cell">
                    <input type="hidden" id="format" value="Markdown" />
                </div>
            </div>
        </div>

        <div class="bridge_categories_rich_text_wrapper">
            {% include cargo("rich_text_editor") with {
                "name": "preamble",
                "placeholder": "",
                "contents": _POST.preamble|default(category.preamble)
            } %}
        </div>

        <fieldset class="form-button-group no-border text-right">
            <a class="pure-button pure-button-tertiary" href="{{ cabin_url() }}blog/category">
                {{ __("Cancel") }}
            </a>

            <button type="submit" name="save_btn" value="create" class="pure-button pure-button-primary">
                <i class="fa fa-check"></i>
                {{  __("Save Changes") }}
            </button>
        </fieldset>
    </form>
</div>