<h2>Are you sure you want to delete this file?</h2>

<pre>{{ cabin_url(cabin) ~ "files/" ~ dir|e('html') ~ file.filename|e('html') }}</pre>

<form method="post">{{ form_token(_REQUEST_URI) }}
    <button type="submit" name="submit_btn" value="Confirm Delete" class="pure-button pure-button-secondary">
        {{ __("Delete this File") }}
    </button>

    <a class="pure-button pure-button-tertiary" href="{{ SETTINGS.link_prefix ~ "/" ~ path_middle ~ "/" ~ cabin ~ "/?dir=" ~ dir|e('url') }}">
        {{ __("No") }}
    </a>
</form>