<form method="post" enctype="multipart/form-data">{{ form_token() }}
    <div id="bridge_files_new_dir_form">
        <fieldset>
            <legend>{{ __("Create a New Directory") }}</legend>
            <div class="table full-width">
                <div class="table-cell cell-pad-right">
                    <input
                        title="{{ __("Directory Name")|e('html') }}"
                        type="text"
                        class="full-width"
                        name="directory"
                        {% if _POST.directory %}{#
                            #}{% if form_status.status != "SUCCESS" %}{#
                                #} value="{{ _POST.directory|e('html_attr') }}"{#
                            #}{% endif %}{#
                        #}{% endif %}
                    />
                </div>
                <div class="table-cell table-btn-right">
                    <button
                        class="pure-button pure-button-secondary"
                        name="submit_btn"
                        type="submit"
                        value="new_dir"
                    >
                        {{ __("Create Directory") }}
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="bridge_files_upload_form">
        <fieldset>
            <legend>
                {{ __("Upload Files") }}
                <a id="add-files">{#
                    #}<i class="fa fa-plus-circle"></i>
                    {{ __("Add Another") }}
                </a>
            </legend>
            <div class="table full-width">
                <div class="table-cell cell-pad-right">
                    <ul id="new-file-wrapper">
                        <li><input type="file" name="new_files[]" /></li>
                    </ul>
                </div>
                <div class="table-cell text-right vertical-bottom table-btn-right">
                    <button type="submit" name="submit_btn" value="upload" class="pure-button pure-button-secondary">
                        {{  __("Upload Files") }}
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</form>