<h2>{{ __("Hull - Blog Management") }}</h2>

<ul>
    <li><a href="{{ cabin_url() }}blog/category">Categories</a></li>
    <li><a href="{{ cabin_url() }}blog/post">Blog Posts</a></li>
    <li><a href="{{ cabin_url() }}blog/series">Series</a></li>
    <li><a href="{{ cabin_url() }}blog/tag">Tags</a></li>
    <li><a href="{{ cabin_url() }}blog/comments">Comments</a></li>
</ul>