{% for name, channel in channels %}
{% if channels|length > 1 %}<h3>{{ __("Channel") }}: {{ name }}</h3>{% endif %}
<div class="channel_wrapper">
    <table class="full-width">
        <thead>
            <tr>
                <td>{{ __("Name") }}</td>
                <td>{{ __("Public Key") }}</td>
                <td>{{ __("URLs") }}</td>
                <td>{{ __("Actions") }}</td>
            </tr>
        </thead>
        <tbody>
            {% for idx, notary in channel.notaries %}
            <tr>
                <td>{{ notary.name }}</td>
                <td class="monospace">{{ notary.public_key }}</td>
                <td>{% if notary.urls|length > 1 %}
                        <ol>
                        {% for url in notary.urls %}
                            <li>{{ url }}</li>
                        {% endfor %}
                        </ol>
                    {% else %}
                        {{ notary.urls[0] }}
                {% endif %}</td>
                <td class="table-min-width">
                    <button type="submit" name="delete_notary" value="{{ (name ~ "|" ~ idx)|e('html_attr') }}" class="pure-button pure-button-secondary">
                        <i class="fa fa-remove"></i> Remove
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}