<h2 class="nomargin">{{ __("New Directory") }}</h2>

<form method="post">{{ form_token() }}
    <div class="form-table table-pad-1">
        <div class="table-row">
            <label class="table-cell">
                {{ __("Cabin") }}:
            </label>
            <div class="table-cell">
                {{ cabin|e('html') }}
            </div>
        </div>
        <div class="table-row">
            <label class="table-cell">
                {{ __("Directory Name") }}:
            </label>
            <div class="table-cell">
                {{ dir|e('html') }}/<input type="text" name="url" />
            </div>
        </div>
        <div class="table-row">
            <label class="table-cell"></label>
            <div>
                <button type="submit" name="save_btn" value="publish" class="pure-button pure-button-secondary">
                    {{  __("Create Directory") }}
                </button>
            </div>
        </div>
    </div>
</form>