<h3 class="nomargin">{{ __("Update Series") }}</h3>
<form method="post">{{ form_token() }}
    <input type="hidden" name="series_id" id="series_id" value="{{ series.seriesid|e('html_attr') }}" />
    <div id="blog_series_metadata" class="form-table full-width table-pad-1">
        <div class="table-row">
            <label for="name" class="table-cell table-label">
                {{ __("Series Name") }}:
            </label>
            <div class="table-cell">
                <input
                    class="full-width"
                    id="name"
                    name="name"
                    required="required"
                    type="text"
                    value="{{ series.name|e('html_attr') }}"
                />
            </div>
        </div>

        <div class="table-row">
            <label for="author" class="table-cell">
                {{ __("Author") }}:
            </label>
            <div class="table-cell">
                {% if is_admin() %}
                    <select name="author" id="author" required="required">
                        <option value=""></option>
                        {% for auth in authors %}
                            <option
                                {% if auth.authorid == author.authorid %}{#
                                    #} selected="selected"{#
                                #}{% endif %}
                                value="{{ auth.authorid|e('html_attr') }}"
                            >
                                {{ auth.name }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    {{ author.name }}
                    <input type="hidden" name="author" id="author" value="{{ author.authorid|e('html_attr') }}" />
                {% endif %}
            </div>
        </div>


        <div class="table-row">
            <label class="table-cell">
                {{ __("Preamble Format") }}:
            </label>
            <div class="table-cell">
                {% include cargo("bridge_pages_select_format") with {
                    "format": series.format|default('HTML')
                } %}
            </div>
        </div>

        <div class="table-row">
            <label class="table-cell align-top">
                {{ __("Preamble") }}:
            </label>
            <div class="table-cell">
                <div class="bridge_blog_series_rich_text_wrapper">
                    {% include cargo("rich_text_editor") with {
                        "name": "preamble",
                        "placeholder": __("Information about this series goes here"),
                        "contents": _POST.contents|default(
                            series.preamble
                        )
                    } %}
                </div>
            </div>
        </div>
        {% include cargo("bridge_blog_series_config") with {
            "config": series.config
        } %}
    </div>

    <h3 class="nomargin">{{ __("Series Contents") }}</h3>

    {% include cargo("bridge_blog_series_sortable") with {
        "items": series_items|default(
            []
        )
    } %}

    <fieldset class="form-button-group">
        <button type="submit" name="save_btn" value="draft" class="pure-button pure-button-secondary">
            <i class="fa fa-save"></i>
            {{  __("Update Series") }}
        </button>
    </fieldset>
</form>