<form method="post">{{ form_token() }}
    <div class="form-table">
        <div class="table-row">
            <label class="table-cell">
                {{ __("Cabin") }}:
            </label>
            <div class="table-cell">
                <a href="{{ SETTINGS.link_prefix }}/pages/{{ cabin|e('url') }}" target="_blank">{{ cabin|e('html') }}</a>
            </div>
        </div>
        <div class="table-row">
            <label class="table-cell">
                {{ __("Page Name") }}:
            </label>
            <div class="table-cell">
                {{ dir|e('html') }}/{{ pageinfo.url|e('html') }}
            </div>
        </div>
        <div class="table-row">
            <label class="table-cell">
                {{ __("Page Options") }}:
            </label>
            <div class="table-cell bridge_page_options">
                <fieldset class="form-button-group">
                    <input type="checkbox" id="page_cache_checkbox" name="cache" value="1"{% if pageinfo.cache %} checked="checked"{% endif %} />
                    <label for="page_cache_checkbox">{{ __("Cache this page?") }}</label>
                    {% if is_admin() %}
                        <br />
                        <input type="checkbox" id="page_raw_checkbox" name="view_raw" value="1"{% if latest.raw %} checked="checked"{% endif %} />
                        <label for="page_raw_checkbox">{{ __("View raw? (Don't run through HTMLPurifier - Doesn't affect preview  - Increases risk of XSS)") }}</label>
                    {% endif %}
                </fieldset>
            </div>
        </div>
        <div class="table-row">
            <label class="table-cell">
                {{ __("Page Format") }}:
            </label>
            <div class="table-cell">
                {% include cargo("bridge_pages_select_format") with {"format": latest.formatting|default('HTML')} %}
            </div>
        </div>
    </div>

    <div class="bridge_page_rich_text_wrapper">
        {% include cargo("rich_text_editor") with {"name": "page_body", "placeholder": "", "contents": latest.body|default('')} %}
    </div>

    <fieldset class="form-metadata-wrapper">
        <legend>
            <input type="checkbox" id="show_metadata" />
            <label for="show_metadata">Show Metadata Fields?</label>
        </legend>
        <div class="form-table" id="pages_metadata">
            {% include cargo("bridge_pages_metadata") with {"metadata": latest.metadata} %}
        </div>
    </fieldset>

    <fieldset class="form-button-group">
        {% if can('publish') %}
            <button type="submit" name="save_btn" value="publish" class="pure-button pure-button-secondary">
                {{  __("Save and Publish") }}
            </button>
            <button type="submit" name="save_btn" value="draft" class="pure-button pure-button-tertiary">
                {{  __("Save Draft") }}
            </button>
        {% else %}
            <button type="submit" name="save_btn" value="draft" class="pure-button pure-button-tertiary">
                {{  __("Save Draft") }}
            </button>
        {% endif %}
    </fieldset>
</form>