<h2 class="bottom-pad">{{ __("Tags") }}</h2>
{% if can_create() %}
<form method="post">{{ form_token() }}
    <fieldset id="new-tag-form">
        <label for="name">{{ __("New Tag:") }}</label>
        <input type="text" name="name" pattern="^[^\#]+$" required="required" />
        <button type="submit" class="pure-button pure-button-secondary">
            <i class="fa fa-tag"></i>
            {{ __("Create Tag") }}
        </button>
    </fieldset>
</form>
{% endif %}

{% set tag_base = cabin_url() ~ "blog/tag/" ~ pagination.page|e('html_attr') %}
<div class="table" id="bridge_tag_list">
    <div class="table-row table-header">
        <div class="table-cell"></div>
        <div class="table-cell">
            {% if sort == "name" and dir == "ASC" %}
                <a class="sortheadlink" href="{{ tag_base }}?dir=DESC">
                    <i class="fa fa-sort-desc icon-pad-right"></i>{{ __("Tag") }}
                </a>
            {% else %}
                <a class="sortheadlink" href="{{ tag_base }}">
                    <i class="fa fa-sort-asc icon-pad-right"></i>{{ __("Tag") }}
                </a>
            {% endif %}
        </div>
        <div class="table-cell">
            {% if sort == "created" and dir == "ASC" %}
                <a class="sortheadlink" href="{{ tag_base }}?sort=created&dir=DESC">
                    <i class="fa fa-sort-desc icon-pad-right"></i>{{ __("Published") }}
                </a>
            {% else %}
                <a class="sortheadlink" href="{{ tag_base }}?sort=created">
                    <i class="fa fa-sort-asc icon-pad-right"></i>{{ __("Published") }}
                </a>
            {% endif %}
        </div>
    </div>
    {% set can_edit = can_update("blog/tag") %}
    {% for tag in tags %}
        <div class="table-row">
            <div class="table-cell icons-1">
                {% if can_edit %}<a{#
                #} title="{{ __("Edit Tag")|e('html_attr') }}"{#
                #} href="{{ cabin_url() }}blog/tag/edit/{{ tag.tagid|e('html_attr') }}"{#
            #}>{#
                #}<i class="fa fa-pencil"></i>{#
            #}</a>{% endif %}
            </div>
            <div class="table-cell">
                {{ tag.name }}
            </div>
            <div class="table-cell">
                {{ tag.created|date(config.format|default('Y-m-d g:i:s A')) }}
            </div>
        </div>
    {% endfor %}
</div>

<div id="bridge_blog_pagination">
    {% include cargo("bridge_blog_pagination") %}
</div>