<ul class="bridge-menu" id="bridge_main_menu_left" data-linkprefix="{{ cabin_url() }}">
    <li class="bridge-main-link"><a href="{{ cabin_url() }}">The Bridge</a></li>
    {% if can_create("announce") %}
        <li>
            <a href="{{ cabin_url() }}announce" title="{{ __("Announce something to your Crew.")|e('html_attr') }}">
                <i class="fa fa-bullhorn bridge-icon"></i>{{ __("Announce") }}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ cabin_url() }}my/account">
            <i class="fa fa-gear bridge-icon"></i>{{  __("My Account") }}
        </a>
        <ul>
            <li>
                <a href="{{ cabin_url() }}my/account/2-factor">
                    <i class="fa fa-qrcode bridge-icon"></i>{{  __("Two-Factor Auth.") }}
                </a>
            </li>
        </ul>
    </li>
    {% if can_read("author") %}
    <li>
        <a
            href="{{ cabin_url() }}author"
            title="{{ __(
                    "Author profiles are like pen names"
                )|e('html_attr')
            }}"
        >
            <i class="fa fa-user-secret bridge-icon"></i>{{ __("Authors") }}
        </a>
    </li>
    {% endif %}
    {% if can_read("my/files") %}
    <li>
        <a href="{{ cabin_url() }}my/files">
            <i class="fa fa-cloud-upload bridge-icon"></i>{{ __("My Uploaded Files") }}
        </a>
    </li>
    {% endif %}
    {% if "Hull" in state.cabin_names %}
        <li>
            <a href="{{ cabin_url() }}blog">
                <i class="fa fa-book bridge-icon"></i>Blog
            </a>
            <ul>
                {% if can_read("blog/category") %}
                    <li>
                        <a href="{{ cabin_url() }}blog/category">
                            <i class="fa fa-folder-open-o bridge-icon"></i>{{ __("Categories") }}
                        </a>
                    </li>
                {% endif %}
                {% if can_read("blog/post") %}
                    <li>
                        <a href="{{ cabin_url() }}blog/post">
                            <i class="fa fa-file-text-o bridge-icon"></i>{{ __("Posts") }}
                        </a>
                    </li>
                {% endif %}
                {% if can_read("blog/series") %}
                    <li>
                        <a href="{{ cabin_url() }}blog/series">
                            <i class="fa fa-list-alt bridge-icon"></i>{{ __("Series") }}
                        </a>
                    </li>
                {% endif %}
                {% if can_read("blog/tag") %}
                    <li>
                        <a href="{{ cabin_url() }}blog/tag">
                            <i class="fa fa-tags bridge-icon"></i>{{ __("Tags") }}
                        </a>
                    </li>
                {% endif %}
                {% if can("publish", "blog/comments") %}
                    <li>
                        <a href="{{ cabin_url() }}blog/comments">
                            <i class="fa fa-commenting-o bridge-icon"></i>{{ __("Comments") }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if can_read("cabins") or can_read("pages") %}
        <li>
            <a href="{{ cabin_url() }}cabins">
                <i class="fa fa-map-signs bridge-icon"></i>{{ __("Cabins") }}
            </a>
            <ul>
            {% for cabin in state.cabins %}
                <li>
                    <a href="{{ cabin_url() }}cabin/{{ cabin.name|e('url') }}">
                        <i class="fa fa-home bridge-icon"></i>{{ cabin.name }}
                    </a>
                    <ul>
                        {% if can_read("cabins/manage/ ~ cabin.name") %}
                            <li>
                                <a href="{{ cabin_url() }}cabins/manage/{{ cabin.name|e('url') }}">
                                    <i class="fa fa-edit bridge-icon"></i>{{ __("Manage") }}
                                </a>
                            </li>
                        {% endif %}
                        {% if can_read("pages/" ~ cabin.name) %}
                            <li>
                                <a href="{{ cabin_url() }}pages/{{ cabin.name|e('url') }}">
                                    <i class="fa fa-file-code-o bridge-icon"></i>{{ __("Web Pages") }}
                                </a>
                            </li>
                        {% endif %}
                        {% if can_read("redirects/" ~ cabin.name) %}
                            <li>
                                <a href="{{ cabin_url() }}redirects/{{ cabin.name|e('url') }}">
                                    <i class="fa fa-arrows-alt bridge-icon"></i>{{ __("Redirects") }}
                                </a>
                            </li>
                        {% endif %}
                        {% if is_admin() %}
                            <li>
                                <a href="{{ cabin_url() }}file_manager/{{ cabin.name|e('url') }}">
                                    <i class="fa fa-upload bridge-icon"></i>{{ __("Files") }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}</ul>
        </li>
    {% endif %}
    {% if is_admin() %}
        <li>
            <a href="{{ cabin_url() }}admin">
                <i class="fa fa-key bridge-icon"></i>{{ __("Administrative") }}
            </a>
            <ul>
                <li>
                    <a href="{{ cabin_url() }}admin/settings">
                        <i class="fa fa-wrench bridge-icon"></i>{{ __("Airship Settings") }}
                    </a>
                </li>
                <li>
                    <a href="{{ cabin_url() }}crew">
                        <i class="fa fa-group bridge-icon"></i>{{ __("Crew") }}
                    </a>
                    <ul>
                        <li>
                            <a href="{{ cabin_url() }}crew/groups">
                                <i class="fa fa-object-group bridge-icon"></i>{{ __("Groups") }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ cabin_url() }}crew/permissions">
                                <i class="fa fa-gavel bridge-icon"></i>{{ __("Permissions") }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ cabin_url() }}crew/users">
                                <i class="fa fa-user bridge-icon"></i>{{ __("Users") }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ cabin_url() }}admin/database">
                        <i class="fa fa-database bridge-icon"></i>{{ __("Databases") }}
                    </a>
                </li>
                <li>
                    <a href="{{ cabin_url() }}admin/extensions">
                        <i class="fa fa-plug bridge-icon"></i>{{ __("Extensions") }}
                    </a>
                    <ul>
                        <li>
                            <a href="{{ cabin_url() }}gadgets">
                                <i class="fa fa-gears bridge-icon"></i>{{ __("Gadgets") }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ cabin_url() }}motifs">
                                <i class="fa fa-paint-brush bridge-icon"></i>{{ __("Motifs") }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ cabin_url() }}admin/notaries">
                                <i class="fa fa-sitemap bridge-icon"></i>{{ __("Notaries") }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ cabin_url() }}admin/skyport">
                                <i class="fa fa-cloud bridge-icon"></i>{{ __("Get Extensions") }}
                            </a>
                        </li>
                    </ul>
                </li>
                {% include cargo("bridge_menu_admin_links") ignore missing %}
            </ul>
        </li>
    {% endif %}
    <li>
        <a href="{{ cabin_url() }}help">
            <i class="fa fa-question-circle bridge-icon"></i>{{  __("Help / Support") }}
        </a>
        <ul>
            <li>
                <a href="https://github.com/paragonie/airship-docs">
                    <i class="fa fa-book bridge-icon"></i>{{  __("Documentation") }}
                </a>
            </li>
            <li>
                <a href="https://github.com/paragonie/airship/issues">
                    <i class="fa fa-bug bridge-icon"></i>{{  __("Report a Bug") }}
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ cabin_url() }}users">
            <i class="fa fa-street-view bridge-icon"></i>{{  __("User Directory") }}
        </a>
    </li>
    {% if can_read("my/preferences") %}
        <li>
            <a href="{{ cabin_url() }}my/preferences">
                <i class="fa fa-adjust bridge-icon"></i>{{ __("Preferences") }}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ cabin_url() }}logout/{{ logout_token()|e('url') }}">
            <i class="fa fa-sign-out bridge-icon"></i>{{ __("Log Out") }}
        </a>
    </li>
</ul>