<h2>{{ __("Airship - Bridge") }}</h2>

<div class="text-center">
{{ __("Welcome, %s%s", "default",
    "<a href=\"" ~ cabin_url() ~ "my/account\" title=\"" ~ __("Change Display Name")|e('html_attr') ~ "\">" ~
        "<i class=\"fa fa-pencil-square\"></i>" ~
        "</a> ",
    ("<strong title=\"Public ID: " ~ user_unique_id()|e('html_attr') ~ "\">" ~ user_display_name() ~ "</strong>")|raw
) }}
    (<code title="{{ __("This is your public ID.")|e('html_attr') }}" id="my-public-id"><i class="fa fa-street-view"></i>{{ user_unique_id() }}</code>).
</div>
<div class="table full-width table-pad-1">
    <div class="table-row">
        <div class="table-cell">
            <strong>{{ __("Airship Statistics") }}</strong>:
        </div>
        <div class="table-cell">
            <strong>{{ __("Actions") }}</strong>:
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell table-min-width cell-pad-right">
            {% include cargo("bridge_home_stats") %}
        </div>
        <div class="table-cell">
            {% include cargo("bridge_home_actions") %}
        </div>
    </div>
</div>
{% include cargo("bridge_home_announcements") %}