<h2>{{ __(
    'Edit Tag "%s"', "default",
    tag.name|e('html_attr')
) }}</h2>
<form method="post">{{ form_token() }}
    <fieldset id="new-tag-form" >
        <label for="name">{{ __("Tag Name:") }}</label>
        <input id="name" type="text" name="name" pattern="^[^\\#]+$" required="required" value="{{ tag.name|e('html_attr') }}" />
        <button type="submit" class="pure-button pure-button-secondary">
            <i class="fa fa-tag"></i>
            {{ __("Save Tag") }}
        </button>
        <a class="pure-button pure-button-tertiary" href="{{ cabin_url() }}blog/tag">
            {{ __("Cancel") }}
        </a>
    </fieldset>
</form>