<h2 class="nomargin">{{ name }}</h2>
<form method="post">{{ form_token() }}
    <div id="cabin_accordion">
        <h3>{{ __("Routing Information") }}</h3>
        <div id="routing">
            {% include cargo("bridge_cabin_settings") with {
                "config": config.cabin
            } %}
        </div>
        <h3>{{ __("Cabin Configuration") }}</h3>
        <div id="config">
            {% set tryInclude = {
                0: "cabin_links/" ~ name ~ "/cabin_config.twig"
            }|merge(
                cargo("bridge_cabin_config")
            ) %}
            {% include tryInclude with {
                "cabin": name,
                "config_extra": config.cabin_extra,
                "motifs": config.motifs,
                "twig_vars": config["twig_vars"]
            } %}
        </div>
        <h3>{{ __("Content Security Policy") }}</h3>
        <div id="content-security-policy">
            {% include cargo("bridge_csp") with {
                "csp": config.content_security_policy,
                "inherit_box": true
            } %}
        </div>
        <h3>{{ __("HTTP Public-Key-Pinning") }}</h3>
        <div id="http-public-key-pinning">
            {% include cargo("bridge_hpkp") with {
                "hpkp": config.cabin.hpkp
            } %}
        </div>
    </div>
    <div class="form-button-group">
        <button type="submit" class="pure-button pure-button-secondary">
            <i class="fa fa-home "></i> {{ __("Save Cabin Configuration") }}
        </button>
    </div>
</form>