<h2 class="bottom-pad">{{ __("Announcements") }}</h2>
{% if announcements %}
    <div
        id="announcements"
        data-noentries="{{ __("No announcements.")|e('html_attr') }}"
    >
    {% for i, announce in announcements %}
        <div
            class="announcement"
            id="announce-{{ announce['uniqueid']|e('html_attr') }}"
        >
            <h3 title="{{ announce.created|date('Y-m-d H:i:s')|e('html_attr') }}">
                {{ announce.title }}
                <a class="announce-dismiss" data-id="{{ announce['uniqueid']|e('html_attr') }}">
                    <i class="fa fa-close"></i>{{ __("Dismiss") }}
                </a>
            </h3>
            <div class="announce-body">
                {% if announce.format == 'Markdown' %}
                    {{ announce.contents|CleanMarkdown }}
                {% elseif announce.format == 'RST' %}
                    {{ announce.contents|CleanRST }}
                {% else %}
                    {{ announce.contents|purify }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <em>{{ __("No announcements.") }}</em>
{% endif %}