<form method="post">{{ form_token() }}
    <div class="table full-width bottom-pad">
        <div class="table-row">
            <label class="table-cell table-min-width bottom-pad" for="old_url">
                {{ __("Old URL") }}:
            </label>
            <div class="table-cell">
                <input
                    class="full-width"
                    id="old_url"
                    name="old_url"
                    placeholder="bridge/redirects/{{ cabin|e('html_attr') }}/new"
                    type="text"
                    value="{{ redirect["oldpath"]|e('html_attr') }}"
                />
            </div>
        </div>

        <div class="table-row">
            <label class="table-cell table-min-width" for="new_url">
                {{ __("New URL") }}:
            </label>
            <div class="table-cell">
                <input
                    class="full-width"
                    id="new_url"
                    name="new_url"
                    placeholder="https://example.com"
                    type="text"
                    value="{{ redirect["newpath"]|e('html_attr') }}"
                />
            </div>
        </div>
    </div>
    <div class="form-button-group no-border text-right">
        <a href="{{ cabin_url() }}redirects/{{ cabin|e('html_attr') }}" class="pure-button pure-button-tertiary">
            {{ __("Cancel") }}
        </a>
        <button class="pure-button pure-button-primary">
            <i class="fa fa-save"></i> {{ __("Update Redirect") }}
        </button>
    </div>
</form>