<h1>{{ __("Manage Extensions") }}</h1>

<ul>
    <li>
        <a href="{{ cabin_url() }}gadgets">
            {{ __("Gadgets") }}
        </a>
    </li>
    <li>
        <a href="{{ cabin_url() }}motifs">
            {{ __("Motifs") }}
        </a>
    </li>
    <li>
        <a href="{{ cabin_url() }}admin/notaries">
            {{ __("Notaries") }}
        </a>
    </li>
    <li>
        <a href="{{ cabin_url() }}admin/skyport">
            {{ __("Skyport Marketplace") }}
        </a>
    </li>
</ul>