<label for="full_name">{{ __("Full Name") }}:</label>
<input type="text" id="full_name" name="full_name" placeholder="{{ __("Enter your Full Name") }}" class="pure-input-1" />

<label for="email">{{ __("Email Address") }}:</label>
<input type="text" id="email" name="email" placeholder="user@example.com" class="pure-input-1" />

<input id="allow_reset" type="checkbox" name="allow_reset" value="1" checked="checked" />
<label for="allow_reset" class="inblock">{{ __("Allow Password Reset (Requires Email Address)") }}</label>
<br />
<label for="gpg_public_key">{{ __("GnuPG Public Key") }}:</label>
<textarea class="gpg-textarea" name="gpg_public_key" id="gpg_public_key" placeholder="-----BEGIN PGP PUBLIC KEY BLOCK-----"></textarea>