<div class="header_wrap bridge_header_wrap">
    <a href="{{ cabin_url('Hull') }}" id="hull-header-image-link">{#
    #}<img
        alt="{{ __("CMS Airship")|e('html_attr') }}"
        class="float-left"
        id="bridge-header-icon"
        src="/img/airship-icon.svg"
        title="{{ __("CMS Airship - Powered by Paragon Initiative Enterprises")|e('html_attr') }}"
    /></a>
    <div id="bridge_greeting_right">
    {% if userid() %}
        {{ __("Hello, %s.", "default", user_display_name()) }}
    {% else %}
        {{ __("Please log in.") }}
    {% endif %}
    </div>
</div>