<h2>My Account</h2>
<form method="post" id="my_account_form">{{ form_token() }}
    {%  if post_response %}
        <div class="post {{ post_response.status|e('html_attr') }}">{{ post_response.message }}</div>
    {% endif %}
    <fieldset>
        <legend>General Information</legend>
        <div class="table full-width">
        <div class="form-row">
            <div class="form-column">
                <label for="real_name">{{ __("Public ID") }}:</label>
            </div>
            <div class="form-column">
                <code>{{ user_unique_id()|e('html') }}</code>
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="real_name">{{ __("Real Name") }}:</label>
            </div>
            <div class="form-column">
                <input type="text" id="real_name" name="real_name" value="{{ account.real_name|e('html_attr') }}" placeholder="Optional" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="email">{{ __("Email Address") }}:</label>
            </div>
            <div class="form-column">
                <input type="text" id="email" name="email" value="{{ account.email|e('html_attr') }}" placeholder="Optional" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
            </div>
            <div class="form-column">
                <input id="allow_reset" type="checkbox" name="allow_reset" value="1" {% if account.allow_reset %} checked="checked"{% endif %} />
                <label for="allow_reset">{{ __("Allow Password Reset (Requires Email Address)") }}</label>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-column">
                <label for="email">{{ __("GnuPG Public Key") }}:</label>
            </div>
            <div class="form-column">
                <textarea name="gpg_public_key" class="gpg-textarea">{{ gpg_public_key|e('html_attr') }}</textarea>
            </div>
        </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Security Information</legend>
        <div class="form-row">
            <div class="form-column">
                <label for="username">{{ __("Userame") }}:</label>
            </div>
            <div class="form-column">
                {{ account.username|e('html') }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="password">{{ __("Change Passphrase") }}:</label>
            </div>
            <div class="form-column">
                <input type="password" id="password" name="passphrase" placeholder="Optional" />
                <div id="password_feedback"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Custom Profile Fields</legend>
        {% include cargo("bridge_account_custom_fields") ignore missing %}
    </fieldset>
    <hr class="bridge-hr" />
    <button type="submit" class="pure-button pure-button-primary">
        <i class="fa fa-save"></i>
        {{ __("Update Account Information") }}
    </button>
</form>