<ul id="skyport-left-menu">
    <li>
        <a class="skyport-left-link" data-id="installed">
            {{ __("Installed") }}
        </a>
    </li>
    <li>
        {% if needs_update %}
            <a class="skyport-left-link" data-id="stale">
                {{ __("Needs Update")|e('html') }} ({{ needs_update|number_format }})
            </a>
        {% else %}
            <em>{{ __("Up-To-Date")|e('html') }}</em>
        {% endif %}
    </li>
    <li>
        <a class="skyport-left-link" data-id="browse">
            {{ __("Browse Extensions")|e('html') }}
        </a>
        <ul>
            <li>
                <a class="skyport-left-link" data-id="browse" data-type="cabin">
                    {{ __("Cabins")|e('html') }}
                </a>
            </li>
            <li>
                <a class="skyport-left-link" data-id="browse" data-type="gadget">
                    {{ __("Gadgets")|e('html') }}
                </a>
            </li>
            <li>
                <a class="skyport-left-link" data-id="browse" data-type="motif">
                    {{ __("Motifs")|e('html') }}
                </a>
            </li>
            <li>
                <div id="skyport-results">{% include cargo("skyport_search") %}</div>
            </li>
        </ul>
    </li>
</ul>