{% if headline %}<h3>{{ __(headline)|e('html') }}</h3>{% endif %}
{% if extensions %}
<ol id="skyport-list" start="{{ offset }}">
{% for ext in extensions %}
    <li>
        <div id="extension-{{ ext.packagetype|e('html_attr') }}-{{ ext.supplier|e('html_attr') }}-{{ ext.name|e('html_attr') }}">
            {% include cargo("skyport_package_listing") %}
        </div>
    </li>
{% endfor %}
</ol>
{% else %}
    <em>{{ __("No results were found.") }}</em>
{% endif %}
{% include cargo('skyport_list_pagination') %}