<h2>{{ __("Two-Factor Authentication") }}</h2>
<p class="text-center">
    {{ __("Scan this QR code in your Two-Factor Authentication App:") }}
</p>
<p class="text-center">
    <img src="{{ cabin_url() }}my/account/2-factor/qr-code" alt="QR code" />
</p>
<form method="post">{{ form_token() }}
    <fieldset>
        <input
            id="enable_two_factor"
            type="checkbox"
            name="enable_two_factor"
            value="1"{% if enabled %}
            checked="checked"{% endif %}
        />
        <label for="enable_two_factor">{{ __("Enable Two-Factor Authentication?") }}</label>
        <br />
        <input
            id="reset_secret"
            type="checkbox"
            name="reset_secret"
            value="1"
        />
        <label for="reset_secret">{{ __("Reset your two-factor authentication secret?") }}</label>
    </fieldset>
    <button class="pure-button pure-button-primary">
        {{ __("Save Preferences") }}
    </button>
</form>